<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awifi.bigscreen.word_fileinfo.dao">
	<sql id="columnsAs">
		t1.id, t1.name, t1.type, t1.wordid
	</sql>

	<select id="selectWordFileinfoPage" resultType="com.awifi.bigscreen.word_fileinfo.entity.WordFileinfoVo">
		select
		<include refid="columnsAs"/>
		from
		e_word_fileinfo t1
		join
		(SELECT
		id
		from
		e_word_fileinfo
		where 1=1
		
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectWordFileinfoCount" resultType="java.lang.Long">
		select
		count(id)
		from e_word_fileinfo
		where 1=1
		<include refid="conds" />
	</select>

</mapper>