<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aiwifi.bigscreen.theme.dao">

	<sql id="columns">
		id, name, picture, enabled, remark, create_time, create_by, update_time, update_by
	</sql>
	<sql id="vals">
		#{id}, #{name}, #{picture}, #{enabled}, #{remark}, #{create_time}, #{create_by}, #{update_time}, #{update_by}
	</sql>
	<sql id="conds">
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="name != null and name != ''">
			and name = #{name}
		</if>
		<if test="picture != null and picture != ''">
			and picture = #{picture}
		</if>
		<if test="enabled != null and enabled != ''">
			and enabled = #{enabled}
		</if>
		<if test="remark != null and remark != ''">
			and remark = #{remark}
		</if>
		<if test="create_time != null">
			and create_time = #{create_time}
		</if>
		<if test="create_by != null and create_by != ''">
			and create_by = #{create_by}
		</if>
		<if test="update_time != null">
			and update_time = #{update_time}
		</if>
		<if test="update_by != null and update_by != ''">
			and update_by = #{update_by}
		</if>
	</sql>

	<insert id="saveTheme" parameterType="org.aiwifi.bigscreen.theme.entity.Theme" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into e_theme (<include refid="columns" />) 
		values (<include refid="vals" />)
	</insert>

	<delete id="deleteTheme">
		delete from e_theme
		where id=#{id} 
	</delete>

	<delete id="deleteByExampleTheme">
		delete from e_theme
		where 1=1
		<include refid="conds" />
	</delete>

	<update id="updateTheme">
		update e_theme
		<set>
			id=#{id}, 
			name=#{name}, 
			picture=#{picture}, 
			enabled=#{enabled}, 
			remark=#{remark}, 
			create_time=#{create_time}, 
			create_by=#{create_by}, 
			update_time=#{update_time}, 
			update_by=#{update_by}
		</set>
		where id=#{id} 
	</update>

	<update id="updateIgnoreNullTheme">
		update e_theme
		<set>
		<if test="id != null and id != ''">
			id=#{id}, 
		</if>
		<if test="name != null and name != ''">
			name=#{name}, 
		</if>
		<if test="picture != null and picture != ''">
			picture=#{picture}, 
		</if>
		<if test="enabled != null and enabled != ''">
			enabled=#{enabled}, 
		</if>
		<if test="remark != null and remark != ''">
			remark=#{remark}, 
		</if>
		<if test="create_time != null">
			create_time=#{create_time}, 
		</if>
		<if test="create_by != null and create_by != ''">
			create_by=#{create_by}, 
		</if>
		<if test="update_time != null">
			update_time=#{update_time}, 
		</if>
		<if test="update_by != null and update_by != ''">
			update_by=#{update_by}
		</if>
		</set>
		where id=#{id} 
	</update>

	<update id="updateByExampleTheme">
		update e_theme
		<set>
			<if test="id != null and id != ''">
			id=#{id}, 
			</if>
			<if test="name != null and name != ''">
			name=#{name}, 
			</if>
			<if test="picture != null and picture != ''">
			picture=#{picture}, 
			</if>
			<if test="enabled != null and enabled != ''">
			enabled=#{enabled}, 
			</if>
			<if test="remark != null and remark != ''">
			remark=#{remark}, 
			</if>
			<if test="create_time != null">
			create_time=#{create_time}, 
			</if>
			<if test="create_by != null and create_by != ''">
			create_by=#{create_by}, 
			</if>
			<if test="update_time != null">
			update_time=#{update_time}, 
			</if>
			<if test="update_by != null and update_by != ''">
			update_by=#{update_by}
			</if>
		</set>
		where 1=1
		<include refid="conds" />
	</update>
	
	<select id="loadTheme" resultType="org.aiwifi.bigscreen.theme.entity.ThemeVo">
		select 
		<include refid="columns"/>
		from e_theme
		where id=#{id} 
	</select>
	
	<select id="selectTheme" resultType="org.aiwifi.bigscreen.theme.entity.ThemeVo">
		select 
		<include refid="columns"/>
		from e_theme
		where 1=1
		<include refid="conds" />
	</select>
</mapper>