<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<!-- 拦截排除列表 -->
	<http pattern="/uac_restet_pwdAction!*" security="none" />
	<http pattern="/login*" security="none" />
	<http pattern="/cxf/*" security="none" />
	<http pattern="/logout*" security="none" />
	<http pattern="/staffAction!goLogin.action*" security="none" />
	<http pattern="/uacLdapAction!login_check.ajax*" security="none" />
	<http pattern="/uacLdapAction!login_passcardSend.ajax*" security="none" />
	<http pattern="/uacLdapAction!whiteList_check.ajax*" security="none" />
	<http pattern="/services/loggedout.html" security="none" />
	<http pattern="/uacAction!register*" security="none" /><!-- 用户注册 -->
	<http pattern="/orgAction!read.ajax" security="none" /><!-- 组织架构树-->
	<http pattern="/uac_account_userAction!validateUsername.ajax" security="none" /><!-- 验证用户名 -->
	<http pattern="/uac_account_userAction!validateIdNumber.ajax" security="none" /><!-- 验证身份证号 -->
	<http pattern="/serviceValidate*" security="none" />
	<http pattern="/uacAction!downFile*" security="none" />
	<!-- <http pattern="/login*" security="none" /> -->	<!--<http pattern="/webservice/**" security="none" /> -->
	<http pattern="/common/js/fort_awesome/font/*" request-matcher="ant"
		security="none" />
	<http pattern="/**/*.jsp" request-matcher="ant" security="none" />
	<http pattern="/**/*.css" request-matcher="ant" security="none" />
	<http pattern="/**/*.js" request-matcher="ant" security="none" />
	<http pattern=".+[.](png$|jpg$|gif$|PNG$|JPG$|GIF$|xml$|ico$)"
		request-matcher="regex" security="none" />
	
	<http pattern="/status/**" entry-point-ref="notAuthorizedEntryPoint"
		use-expressions="true" auto-config="true">
		<intercept-url pattern="/status"
			access="hasIpAddress('${cas.securityContext.status.allowedSubnet}')" />
	</http>

	<!-- 权限名称必须以 ROLE_ 开头 -->
	<http auto-config="true" use-expressions="true" pattern="/**"
		access-denied-page="/err.jsp" entry-point-ref="casProcessingFilterEntryPoint">
		<custom-filter ref="casProcessingFilter" position="CAS_FILTER" />
		<custom-filter ref="filterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR" />
		<logout logout-success-url="/staffAction!goLogin.action"
			logout-url="/systemAction!j_spring_security_logout" delete-cookies="JSESSIONID" />
		<form-login login-page="/staffAction!goLogin.action"
			authentication-failure-handler-ref="authenticationFailureHandler"
			authentication-success-handler-ref="authenticationSuccessHandler" />
	</http>


	<beans:bean id="authenticationFailureHandler"
		class="com.zjhcsoft.uac.log.service.SaveLogAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/uacAction!goLogin.action" />
		<beans:property name="useForward" value="true" />
		<beans:property name="logManager" ref="logManager" />
		<beans:property name="exceptionMappings">
			<beans:map>
				<beans:entry
					key="org.springframework.security.authentication.AuthenticationServiceException"
					value="/staffAction!goLogin.action" />
				<beans:entry
					key="org.springframework.security.authentication.BadCredentialsException"
					value="/staffAction!goLogin.action?errorCode=BadCredentials" />
			</beans:map>
		</beans:property>
	</beans:bean>

	<beans:bean id="authenticationSuccessHandler"
		class="com.zjhcsoft.uac.log.service.SaveLogAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/uacAction!goMain.action" />
		<beans:property name="logManager" ref="logManager" />
	</beans:bean>

	<beans:bean id="filterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="accessDecisionManager" ref="accessDecisionManager" />
		<beans:property name="securityMetadataSource" ref="securityMetadataSource" />
	</beans:bean>
	<!-- <beans:bean id="accessDecisionManager" class="org.roof.security.service.BaseAccessDecisionManager"> 
		</beans:bean> -->
	<beans:bean id="accessDecisionManager"
		class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:constructor-arg index="0">
			<util:list>
				<beans:bean class="org.springframework.security.access.vote.RoleVoter" />
			</util:list>
		</beans:constructor-arg>
	</beans:bean>
	<beans:bean id="securityMetadataSource"
		class="org.roof.security.service.InvocationSecurityMetadataSourceService"
		scope="prototype">
		<beans:property name="hibernateTemplate" ref="hibernateTemplate" />
		<beans:property name="cacheManager" ref="cacheManager" />
		<beans:property name="cachName"
			value="InvocationSecurityMetadataSourceService#getAttributes" />
	</beans:bean>
	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="casAuthenticationProvider" />
		<authentication-provider user-service-ref="userDetailsService" />
	</authentication-manager>
	<beans:bean id="userDetailsService"
		class="com.zjhcsoft.uac.account.UacUserDetailsServiceImpl">
		<beans:property name="hibernateTemplate" ref="hibernateTemplate" />
	</beans:bean>

	<beans:bean id="currentUserCommonActionParameters"
		class="org.roof.security.CurrentUserCommonActionParameters">
		<beans:property name="sessionKey" value="loginUser" />
	</beans:bean>

</beans:beans>
