<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="maxPoolSize" value="15" />
	</bean>
	<bean id="taskExecutor2"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="maxPoolSize" value="15" />
	</bean>
	<bean id="logQueue"
		class="org.springframework.data.redis.support.collections.DefaultRedisList">
		<constructor-arg index="0" value="uac_log_queue" />
		<constructor-arg index="1" ref="redisTemplate" />
	</bean>
	<bean id="loginSubUserMap"
		class="org.springframework.data.redis.support.collections.DefaultRedisMap">
		<constructor-arg index="0" value="uac_login_subuser_map" />
		<constructor-arg index="1" ref="redisTemplate" />
	</bean>
	
	<bean id="uacUserMap"
		class="org.springframework.data.redis.support.collections.DefaultRedisMap">
		<constructor-arg index="0" value="uac_user_map" />
		<constructor-arg index="1" ref="redisTemplate" />
	</bean>
	
	
	<!-- <bean id="logQueue" class="java.util.concurrent.ArrayBlockingQueue"> 
		<constructor-arg index="0" value="100" /> </bean> -->

	<bean id="passwordValidators" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="minlengthRegularPasswordValidate" />
				<ref bean="maxlengthRegularPasswordValidate" />
				<ref bean="charMinlengthRegularPasswordValidate" />
				<ref bean="numberMinlengthRegularPasswordValidate" />
				<ref bean="uppercaseMinlengthRegularPasswordValidate" />
				<ref bean="lowercaseMinlengthRegularPasswordValidate" />
				<ref bean="specharsMinlengthRegularPasswordValidate" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="minlengthRegularPasswordValidate"
		class="com.zjhcsoft.uac.account.password.service.RegularPasswordValidate">
		<property name="name" value="minlength" />
		<property name="operator" value="lt" />
		<property name="regular" value="\S" />
	</bean>

	<bean id="maxlengthRegularPasswordValidate"
		class="com.zjhcsoft.uac.account.password.service.RegularPasswordValidate">
		<property name="name" value="maxlength" />
		<property name="operator" value="gt" />
		<property name="regular" value="\S" />
	</bean>

	<bean id="charMinlengthRegularPasswordValidate"
		class="com.zjhcsoft.uac.account.password.service.RegularPasswordValidate">
		<property name="name" value="char_minlength" />
		<property name="operator" value="lt" />
		<property name="regular" value="[a-zA-Z]" />
	</bean>

	<bean id="numberMinlengthRegularPasswordValidate"
		class="com.zjhcsoft.uac.account.password.service.RegularPasswordValidate">
		<property name="name" value="char_minlength" />
		<property name="operator" value="lt" />
		<property name="regular" value="[0-9]" />
	</bean>

	<bean id="uppercaseMinlengthRegularPasswordValidate"
		class="com.zjhcsoft.uac.account.password.service.RegularPasswordValidate">
		<property name="name" value="uppercase_minlength" />
		<property name="operator" value="lt" />
		<property name="regular" value="[A-Z]" />
	</bean>
	<bean id="lowercaseMinlengthRegularPasswordValidate"
		class="com.zjhcsoft.uac.account.password.service.RegularPasswordValidate">
		<property name="name" value="lowercase_minlength" />
		<property name="operator" value="lt" />
		<property name="regular" value="[a-z]" />
	</bean>

	<bean id="specharsMinlengthRegularPasswordValidate"
		class="com.zjhcsoft.uac.account.password.service.RegularPasswordValidate">
		<property name="name" value="spechars_minlength" />
		<property name="operator" value="lt" />
		<property name="regular" value="[^a-zA-Z0-9]" />
	</bean>

	<bean id="loginCheck" class="com.zjhcsoft.uac.account.user.service.LoginCheck">
		<property name="checkUnits">
			<list>
				<!-- 白名单验证 -->
				<!-- 密码出错次数验证 <ref bean="passwordContinuousErrorLoginCheckUnit" /> -->
				<!-- 密码时效验证 -->
				<ref bean="passwordTimelinessLoginCheckUnit" />
				<!-- 账号时效验证 -->
				<ref bean="accountTimeLinessLoginCheckUnit" />
			</list>
		</property>
	</bean>
	<bean id="userXsDB" class="com.zjhcsoft.exceldb.entity.XslDb">
		<property name="ignore" value="1" />
		<property name="columns">
			<list>
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="name" />
					<property name="title" value="name" />
					<property name="xslcol" value="A" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="username" />
					<property name="title" value="username" />
					<property name="xslcol" value="B" />
				</bean>
				
				<!-- 账号性质 -->
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="scope" />
					<property name="title" value="scope" />
					<property name="xslcol" value="C" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="privilege" />
					<property name="title" value="privilege" />
					<property name="xslcol" value="D" />
				</bean>
				<!-- 用户类别 -->
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="category" />
					<property name="title" value="category" />
					<property name="xslcol" value="E" />
				</bean>
					<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="idNumber" />
					<property name="title" value="idNumber" />
					<property name="xslcol" value="F" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="gender" />
					<property name="title" value="gender" />
					<property name="xslcol" value="G" />
				</bean>
			
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="tel" />
					<property name="title" value="tel" />
					<property name="xslcol" value="H" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="mail" />
					<property name="title" value="mail" />
					<property name="xslcol" value="I" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="REGION_NAMEFROMCHANNE" />
					<property name="title" value="REGION_NAMEFROMCHANNE" />
					<property name="xslcol" value="J" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="ip" />
					<property name="title" value="ip" />
					<property name="xslcol" value="K" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="port" />
					<property name="title" value="port" />
					<property name="xslcol" value="L" />
				</bean>
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="password" />
					<property name="title" value="password" />
					<property name="xslcol" value="M" />
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="systemXsDB" class="com.zjhcsoft.exceldb.entity.XslDb">
		<property name="ignore" value="1" />
		<property name="columns">
			<list>
			 <bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="name" />
					<property name="title" value="name" />
					<property name="xslcol" value="A" />
				</bean>
				
				
				<!-- 账号性质 -->
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="scope" />
					<property name="title" value="scope" />
					<property name="xslcol" value="B" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="privilege" />
					<property name="title" value="privilege" />
					<property name="xslcol" value="C" />
				</bean>
				<!-- 用户类别 -->
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="category" />
					<property name="title" value="category" />
					<property name="xslcol" value="D" />
				</bean>
					<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="idNumber" />
					<property name="title" value="idNumber" />
					<property name="xslcol" value="E" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="gender" />
					<property name="title" value="gender" />
					<property name="xslcol" value="F" />
				</bean>
			
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="tel" />
					<property name="title" value="tel" />
					<property name="xslcol" value="G" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="mail" />
					<property name="title" value="mail" />
					<property name="xslcol" value="H" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="REGION_NAMEFROMCHANNE" />
					<property name="title" value="REGION_NAMEFROMCHANNE" />
					<property name="xslcol" value="I" />
				</bean>
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="sys_name" />
					<property name="title" value="sys_name" />
					<property name="xslcol" value="J" />
				</bean>
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="host_name" />
					<property name="title" value="host_name" />
					<property name="xslcol" value="K" />
				</bean>
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="ip" />
					<property name="title" value="ip" />
					<property name="xslcol" value="L" />
				</bean>

				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="db_type" />
					<property name="title" value="db_type" />
					<property name="xslcol" value="M" />
				</bean> 
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="port" />
					<property name="title" value="port" />
					<property name="xslcol" value="N" />
				</bean>
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="username" />
					<property name="title" value="username" />
					<property name="xslcol" value="O" />
				</bean>
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="password" />
					<property name="title" value="password" />
					<property name="xslcol" value="P" />
				</bean>

				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="os_type" />
					<property name="title" value="os_type" />
					<property name="xslcol" value="Q" />
				</bean> 
				
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="sys_type" />
					<property name="title" value="sys_type" />
					<property name="xslcol" value="R" />
				</bean> 
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="group" />
					<property name="title" value="group" />
					<property name="xslcol" value="S" />
				</bean>

				
			</list>
		</property>
	</bean>

	<bean id="accountLogExcelExportDatabaseReader" class="com.zjhcsoft.uac.util.RoofIbatisDatabaseReader"
		scope="prototype">
		<property name="countSql" value="accountlog_excel_export_count" />
		<property name="querySql" value="accountlog_excel_export" />
		<property name="roofDaoSupport" ref="roofDaoSupport" />
		<property name="xslDb" ref="accountLogXslDB" />
	</bean>
	<bean id="accountLogXslDB" class="com.zjhcsoft.exceldb.entity.XslDb">
		<property name="columns">
			<list>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="OP_RESULT" />
					<property name="title" value="操作结果" />
					<property name="xslcol" value="A" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="OP_TIME" />
					<property name="title" value="操作时间" />
					<property name="xslcol" value="B" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="OP_STAFF_CODE" />
					<property name="title" value="被操作账号" />
					<property name="xslcol" value="C" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="TEXT" />
					<property name="title" value="账号操作类型 " />
					<property name="xslcol" value="D" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="STAFF_CODE" />
					<property name="title" value="操作账号" />
					<property name="xslcol" value="E" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="ORG_NAME" />
					<property name="title" value="所属地市" />
					<property name="xslcol" value="F" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="loginlogExcelExportDatabaseReader" class="com.zjhcsoft.uac.util.RoofIbatisDatabaseReader"
		scope="prototype">
		<property name="countSql" value="loginlog_excel_export_count" />
		<property name="querySql" value="loginlog_excel_export" />
		<property name="fetchSize" value="10000" />
		<property name="roofDaoSupport" ref="roofDaoSupport" />
		<property name="xslDb" ref="loginlogXslDB" />
	</bean>
	<bean id="loginlogXslDB" class="com.zjhcsoft.exceldb.entity.XslDb">
		<property name="columns">
			<list>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="IP" />
					<property name="title" value="登陆IP" />
					<property name="xslcol" value="A" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="LOGINRESULT" />
					<property name="title" value="登陆结果 " />
					<property name="xslcol" value="B" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="LOGIN_TIME" />
					<property name="title" value="登陆时间  " />
					<property name="xslcol" value="C" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="LOGINTYPE" />
					<property name="title" value="认证时间" />
					<property name="xslcol" value="D" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="STAFF_CODE" />
					<property name="title" value="登陆账号" />
					<property name="xslcol" value="E" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="ORG_NAME" />
					<property name="title" value="所属地市" />
					<property name="xslcol" value="F" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="authlogExcelExportDatabaseReader" class="com.zjhcsoft.uac.util.RoofIbatisDatabaseReader"
		scope="prototype">
		<property name="countSql" value="authlog_excel_export_count" />
		<property name="querySql" value="authlog_excel_export" />
		<property name="fetchSize" value="10000" />
		<property name="roofDaoSupport" ref="roofDaoSupport" />
		<property name="xslDb" ref="authlogXslDB" />
	</bean>

	<bean id="authlogXslDB" class="com.zjhcsoft.exceldb.entity.XslDb">
		<property name="columns">
			<list>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="AUTH_TIME" />
					<property name="title" value="认证时间" />
					<property name="xslcol" value="A" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="IP" />
					<property name="title" value="认证IP " />
					<property name="xslcol" value="B" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="LOGIN_FAIL_REASON" />
					<property name="title" value="登陆失败原因  " />
					<property name="xslcol" value="C" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="LOGIN_RESULT" />
					<property name="title" value="登陆结果" />
					<property name="xslcol" value="D" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="STAFF_CODE" />
					<property name="title" value="认证用户" />
					<property name="xslcol" value="E" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="NAME" />
					<property name="title" value="请求系统" />
					<property name="xslcol" value="F" />
				</bean>
				<bean class="com.zjhcsoft.exceldb.entity.Column">
					<property name="dbcol" value="ORG_NAME" />
					<property name="title" value="所属地市" />
					<property name="xslcol" value="G" />
				</bean>
			</list>
		</property>
	</bean>
</beans>