<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
     http://www.springframework.org/schema/jee 
     http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	 http://www.springframework.org/schema/util 
	 http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- 启用注解 -->
	<context:annotation-config />
	<!-- AOP配置 -->
	<aop:aspectj-autoproxy proxy-target-class="false" />
	<!-- 扫描组件 -->
	<context:component-scan base-package="*,org.roof.*,com.zjhcsoft.*" />

	<import resource="classpath:spring-db.xml" />
	<import resource="classpath:spring-cache.xml" />
	<import resource="classpath:spring-excel.xml" />
	<import resource="classpath:spring-security.xml" />
	<import resource="classpath:spring-ldap.xml"/>
	<import resource="classpath:spring-uac.xml" />
	<import resource="classpath:spring-redis.xml" />
	<import resource="classpath:spring-cxf.xml" />

	<import resource="classpath:cas/spring-cas.xml" />
	<import resource="classpath:cas/argumentExtractorsConfiguration.xml" />
	<import resource="classpath:cas/auditTrailContext.xml" />
	<import resource="classpath:cas/spring-cas-security.xml" />
	<import resource="classpath:cas/ticketExpirationPolicies.xml" />
	<import resource="classpath:cas/ticketGrantingTicketCookieGenerator.xml" />
	<import resource="classpath:cas/ticketRegistry.xml" />
	<import resource="classpath:cas/uniqueIdGenerators.xml" />
	<import resource="classpath:cas/warnCookieGenerator.xml" />
	<import resource="classpath:cas/deployerConfigContext.xml" />

	<import resource="classpath:spring-excel.xml" />

	<bean id="propertyConfigurer"
		class="org.roof.commons.CustomizedPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:tk-filters.properties</value>
				<value>classpath:app-ds.properties</value>
				<value>classpath:project.properties</value>
				<value>classpath:mail.properties</value>
				<value>classpath:cas/cas.properties</value>
			</list>
		</property>
	</bean>

	<!-- mail -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="port" value="${mail.port}" />
		<!-- <property name="validate" value="${mail.validate}" /> -->
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>                        <!--gmail要求的ssl连接 -->
				<prop key="mail.smtp.timeout">2500</prop>
			</props>
		</property>
	</bean>

	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
				resource.loader=class
				class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
			</value>
		</property>
	</bean>
</beans>