/* css reset  */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
html{
    font-size:12px;
}

body{
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    -webkit-text-size-adjust:none;
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
    height:100vh;
    background:#f1f2f7;
    padding: 0px !important;
    margin: 0px !important;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
/*html {overflow-y: scroll;}*/
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

ul li {
    list-style: none;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}


/*以下是load.css*/

#container{
    width: 100%;
    height: 100%;
    /*background: #333;*/
    background-image: url("../image/bg.png");
    background-repeat: round;
}
.page{
    background-image: url("../image/bg.png");
}
#kuang{
    width:50%;
    height:100% ;
    background: url("../image/img2.png");
    background-repeat: no-repeat;

    margin:0 auto;
}
.context{
    width: 100%;
    height: 100%;
    /*background: #fff;*/
}
.top{
    width: 100%;
    height: 50%;
    /*background: blue;*/
}
.bottom{
    width: 100%;
    height:50% ;
    /*background: red;*/

}
.mainer{
    width: 100%;
    height: 30%;
    background: #fff;
    background: url("../iamge/loadBox.png");
}
.footer{
    width: 100%;
    height: 70%;

}
.footer span{
    display: inline;
    text-align: center;
}

.main-div{
    width: 100%;
    height:100%;
    background: red;
}

/*resent css*/
#line{
    width: 100%;
    height: 4px;
    background-image: -moz-linear-gradient( 0deg, rgb(1,174,238) 0%, rgb(2,196,234) 34%, rgb(2,217,230) 61%, rgb(81,234,189) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(1,174,238) 0%, rgb(2,196,234) 34%, rgb(2,217,230) 61%, rgb(81,234,189) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(1,174,238) 0%, rgb(2,196,234) 34%, rgb(2,217,230) 61%, rgb(81,234,189) 100%);

}
#header{

}
#head{
    background-color:#fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    width:100%;
    height: 54px;

}
#user{
    padding: 0;
}
#logo{
    padding: 0;
    /*width: ;*/
    height: 100%;
}
.fa{
    color: #999;
    font-size: 2.2rem;
    line-height: 54px;
}
#innerUr span{
    display: inline-block;
}
.logo_img{

    height: 100%;
}
.left_part{
    width: 210px;
    height: 100vh;
    background: #2a3542;
    font-weight: 600;
    float: left;
}
.right_part{
    width: 100%;
    height: 100%;
    /*display: inline-block;*/
    margin-left: 210px;
    background:#e6e8ec;
    padding:24px;
}
.ant-menu-item{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.32rem;
    color: #b9c3d1;

}
.ant-menu-item:hover{
    background:#35404d ;
    color: #fff;
}
.ant-menu{
    outline: none;
}
.fixing{
    text-align: center;
    font-size: 3.2rem;
    color: #b8e3e7;
    line-height: 30rem;

}
#admin{
    display: inline-block;
    text-indent: 1rem;
    color: #2baab1;
    font-size: 1.8rem;
}
#admin:before{
    content: "";
    width: 1px;
    height: 18px;
    background: #999;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 1rem;
}
.content{
    width: 100%;
    height: 100%;
}
#innerUr {

    position: absolute;
    right:1.6rem;

}
#innerUr button{
    margin-left: 0.4rem;
    width: 0;
    height: 0;
    background: none;
    border: none;
    outline: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #888;
}
#window{
    width: 6rem;
    display: none;
    text-align: center;
    line-height: 3.2rem;
    height: 3.2rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    right: 0rem;
    top:4.2rem;
    z-index: 1000;
}
#window a{
    color: #666;
}
#window a:hover{
    color: #2baab1;
}

#container{
    width: 100%;
    height: 100%;
    background: #333;
    /*padding:10rem;*/

}
#sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #2a3542;
    overflow-y: scroll;
}
#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 3.16rem;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}
ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    /*     padding-top:4rem; */
    padding-left:0;
}

ul.sidebar-menu {
    margin-top: 75px;
}
#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #1f2e3f;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 1.28rem;
    padding: 6px 2px;
    line-height:2.16rem;
    /* height: 40px; */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #e0ebf9;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #FF6C60;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #dfe7f2;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 1.4rem;
    outline: none;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li.active, ul.sidebar-menu li:hover, ul.sidebar-menu li:focus {
    background: #3b4858;
    color: #fff;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #FF6C60;
}

ul.sidebar-menu li a.active i {
    color: #FF6C60;
}
#content {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: #f5f5f5;

}
.tabarea{
    width: 300px;
    height: 400px;
    background:red;
}
#left{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    background-color:#fff;
    height:100%;
    width:352px ;
    float: left;
    position: absolute;
    top: 4.86rem;
    background: #fff;
    /*overflow: auto;*/
}
#right{
    padding: 3.2rem;
    background: #f5f5f5;
    height: 100vh;
    margin-left: 352px;
    padding-top: 1rem;
}
.handle{
    width: 100%;
    height: 4rem;
    /*background: red;*/
}
.handle span{
    display: inline-block;
    position: absolute;
    right: 3.2rem;
}
.handle span .fa{
    color: #888;
    font-size: 2.2rem;
    letter-spacing: 1rem;

}
.handle span .fa:hover{
    color: #01b2ed;
}
#screen{
    border-radius: 3px;
    width: 100%;
    margin: 0;
    height: 80rem;
    border-radius: 3px;
    padding: 0;
    background-color: rgb(108, 108, 108);

}
#title{
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ddd;
}
#title h2{
    color: #666;
    line-height: 4rem;
    text-indent: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

/*以下react_css*/
.icon {
	border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    background: #666;
    margin-left: 0.4rem;
    z-index: 1000;
    /*letter-spacing: 1rem;*/
    /*text-indent: 1rem;*/
    /*vertical-align: middle;*/
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;
}
.icon:hover{
    background: orangered;
}
.edit{
    width: 4.4rem;
    height: 2rem;
    /*background: #333;*/
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;

}
.part{
    padding: 0;
    margin: 0;
    /*display: inline-block;*/
    border: 1px solid #979797;
    float: left;
    overflow: hidden;
}
.part-clean{
    font-weight:normal;
    display: none;
    color: #ff3333;
    /* background: red; */
    position: absolute;
    font-size: 2rem;
    top: -0.6rem;
    right: 0.8rem;
}

/*#myModal{*/
    /*margin-top: ;*/
/*}*/
.fileSet{
    width: 40%;
    height:10rem ;
    background: #444;
}
.fileSet input{
    width: 100%;
    height:10rem ;
   /*opacity: 0;*/
    float: left;
    position: relative;
    top: 0;
    background: red;
}
.layer{
    width: 100%;
    height: 24rem;
    border: 1px solid #eee;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 2rem;
}
.row{
    margin:0;
    height: 21rem;
}
.title{
    background: #d5ddee;
    width: 100%;
    height: 3rem;
    color: #25282f;
    font-size: 1.4rem;
    text-align: left;
    line-height: 3rem;
    padding-left: 1.2rem;
}
 .btn-default{
    color: #fff;
    background-color: #5b99f1;
    font-weight: 800;
    font-size: 1.4rem;
    border-color: #ccc;
    outline: none;

}
.btn:hover {
    color: #333;
    text-decoration: none;
    outline: none;
}
.col-md-3 {
    height: 50%;
    /*background: #eee;*/
    padding: 1rem;
}