<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aiwifi.manage.bigscreen_chart_rel.dao">
	<sql id="columnsAs">
		t1.id, t1.chart_id, t1.screen_id, t1.target
	</sql>
	
	<select id="selectBigscreenChartRelPage" resultType="com.awifi.bigscreen.bigscreen_chart_rel.entity.BigscreenChartRelVo">
		select
		<include refid="columnsAs"/>
		from
		e_bigscreen_chart_rel t1
		join
		(SELECT
		id
		from
		e_bigscreen_chart_rel
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectBigscreenChartRelCount" resultType="java.lang.Long">
		select
		count(id)
		from e_bigscreen_chart_rel
		where 1=1
		<include refid="conds" />
	</select>
</mapper>